<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <img src="Images/logo.png" alt="BPPIMT" srcset="" />
      </div>
      <div class="footer-col">
        <h4>Quick Links</h4>
        <ul>
          <li>
            <a href="http://www.makautexam.net/">Affiliating University</a>
          </li>
          <li><a href="https://www.bppimt.ac.in/NIRF.aspx">NIRF</a></li>
          <li>
            <a
              href="https://www.nbaind.org/accreditationprogram/AccreditedProgram?ID=qwlMeKvvRFkROOUyYkKt0g==&lbl=eDu5wWlpPACyA1pvdpp7mw==&tier=/L+fxyhb6EPZUvjtT2wypA==&name=wMNR/LxT4iwXWKhiAHUUp9MV2RwOOtuSMr+o0oar5ZZF8b30fA1b0pIchfncoJFfd+x27dqejBKTrbUkOgANAT/5WkJESnr14S3cAEqTVuM="
              >NBA</a
            >
          </li>
          <li>
            <a href="https://www.bppimt.ac.in/AICTE_Approval.aspx"
              >Other Information</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Archive</h4>
        <ul>
          <li>
            <a href="https://www.bppimt.ac.in/Newsletters.aspx">Newsletters</a>
          </li>
          <li><a href="https://www.bppimt.ac.in/Events.aspx">Events</a></li>
          <li>
            <a href="https://www.bppimt.ac.in/Achievements.aspx"
              >Achievements</a
            >
          </li>
          <li>
            <a href="https://www.bppimt.ac.in/Media_Coverage.aspx"
              >Media Coverage</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Human Resource</h4>
        <ul>
          <li>
            <a href="https://www.bppimt.ac.in/Board_of_Governors.aspx"
              >Board of Governors</a
            >
          </li>
          <li>
            <a href="https://www.bppimt.ac.in/Administration.aspx"
              >Administration</a
            >
          </li>
          <li>
            <a href="https://www.bppimt.ac.in/Faculty_Members.aspx"
              >Faculty Members</a
            >
          </li>
          <li>
            <a href="https://www.bppimt.ac.in/Technical_Staff.aspx"
              >Technical Staff</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Forum & Cell</h4>
        <ul>
          <li>
            <a href="https://www.bppimt.ac.in/IQA_Cell.aspx"
              >Internal Quality Assurance Cell</a
            >
          </li>
          <li>
            <a href="https://www.bppimt.ac.in/ICC.aspx"
              >Internal Complaint Committee</a
            >
          </li>
          <li>
            <a href="https://www.bppimt.ac.in/Important_Cells.aspx"
              >Important Cells</a
            >
          </li>
          <li>
            <a href="https://www.bppimt.ac.in/Forum.aspx">Student Forums</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
