<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/experiment3.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav">
      <div class="nav-brand">
        <!-- <span>Brand</span> -->
      </div>
    </div>
    <div class="OR">
      <label class="container">
        <input type="checkbox" name="input1" id="input1" />
        <span class="checkmark1"></span>
      </label>
      <label class="container">
        <input type="checkbox" name="input2" id="input2" />
        <span class="checkmark2"></span>
      </label>
      <label class="container">
        <input type="checkbox" name="output1" id="input3" disabled/>
        <span class="checkmark3"></span>
      </label>
      <img src="/Images/AND.png" alt="" srcset="" />
      <div class="actions">
        <button class="button" type="submit" id="btn">Stimulate</button>
        <button class="button1" type="submit" id="add">
          Add Value to Table
        </button>
      </div>
      <table border="1px" id="myTable">
        <thead>
            <th>A</th>
            <th>B</th>
            <th>C</th>
        </thead>
    </table>

    </div>
    <script src="/js/experiment3.js"></script>
  </body>
</html>
