<%- include('partials/Header') %>
<div class="feedback">
  <h3>Help Us Improve</h3>
  <%= name != "" ? name+"Thankyou for your feedback" : ""  %>
  <form method="POST" action="/feedback">
    <div class="formExperience">
      <label for="experience">Enter Your Name</label>
      <input name="name" required placeholder="Enter your Name"></input>
    </div>
    <div class="formExperience">
      <label for="experience">Share your Experience</label>
      <textarea name="experience" required rows="10" cols="30" placeholder="share experience"></textarea>
    </div>
    <div class="button-btn">
      <button class="" type="submit">Share Experience</button>
    </div>
  </form>
</div>
<%- include('partials/Footer') %>
