<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/listOfExperiments/logicGates/AND">AND GATE</a></li>
        <li><a href="/listOfExperiments/logicGates/AND">OR GATE</a></li>
        <li><a href="/listOfExperiments/logicGates/AND">NOT GATE</a></li>
        <li><a href="/listOfExperiments/logicGates/AND">NOR GATE</a></li>
        <li><a href="/listOfExperiments/logicGates/AND">NAND GATE</a></li>
        <li><a href="/listOfExperiments/logicGates/AND">XOR GATE</a></li>
        <li><a href="/listOfExperiments/logicGates/AND">XNOR GATE</a></li>
    </ul>
</body>
</html>