<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" href="style.css">
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <link rel="stylesheet" type="text/css" href="Vlab.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   </head>
   <body>
<div class="header">
<div class="inner-header">
<div class="logo">Virtual Lab</div>
<div class="header-link">
<div class="social-links">
            <!-- <a href="https://www.facebook.com/bppimtofficial/"> 
            <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/bppimt/"> 
            <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCQfS1doWJgE3quJ0cOzD6VQ"> 
            <i class="fa fa-2x fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/bppimt-kolkata-737970130/"> 
            <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
            </a> -->
            </div>
</div>

</div>
</div>

      <div class="btn">
         <span class="fas fa-bars"></span>
      </div>
      <nav class="sidebar">
         <div class="text">

         </div>
         <ul>
            <li><a href="Vlab.html">Introduction</a></li>
            <li><a href="Vlab1.html">Objective</a></li>
            <li class="active"><a href="Vlab3.html">List of Experiments</a></li>
            <li><a href="Vlab2.html">Feedback</a></li>
         </ul>
      </nav>
        <div class="lab-name">
      <span class="lab-name"><h2 class="text-center" align="center">Digital Electronics BPPIMT</h2></span><!--labname-->
      <div><div>
    <p>1. <a href="#"> Verification of different types of Logic Gates</a></p>
    </div></div>
      <script>
         $('.btn').click(function(){
           $(this).toggleClass("click");
           $('.sidebar').toggleClass("show");
         }); 
           $('.feat-btn').click(function(){
             $('nav ul .feat-show').toggleClass("show");
             $('nav ul .first').toggleClass("rotate");
           });
           $('.serv-btn').click(function(){
             $('nav ul .serv-show').toggleClass("show1");
             $('nav ul .second').toggleClass("rotate");
           });
           $('nav ul li').click(function(){
             $(this).addClass("active").siblings().removeClass("active");
           });

      </script>
   </body>
 <footer class="footer">
    <div class="container">
        <div class="row">
<div class="footer-col">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="http://www.makautexam.net/">Affiliating University</a></li>
                <li><a href="https://www.bppimt.ac.in/NIRF.aspx">NIRF</a></li>
                <li><a href="https://www.nbaind.org/accreditationprogram/AccreditedProgram?ID=qwlMeKvvRFkROOUyYkKt0g==&lbl=eDu5wWlpPACyA1pvdpp7mw==&tier=/L+fxyhb6EPZUvjtT2wypA==&name=wMNR/LxT4iwXWKhiAHUUp9MV2RwOOtuSMr+o0oar5ZZF8b30fA1b0pIchfncoJFfd+x27dqejBKTrbUkOgANAT/5WkJESnr14S3cAEqTVuM=">NBA</a></li>
                <li><a href="https://www.bppimt.ac.in/AICTE_Approval.aspx">Other Information</a></li>
            </ul>
            </div>
            <div class="footer-col">
            <h4>Archive</h4>
            <ul>
                <li><a href="https://www.bppimt.ac.in/Newsletters.aspx">Newsletters</a></li>
                <li><a href="https://www.bppimt.ac.in/Events.aspx">Events</a></li>
                <li><a href="https://www.bppimt.ac.in/Achievements.aspx">Achievements</a></li>
                <li><a href="https://www.bppimt.ac.in/Media_Coverage.aspx">Media Coverage</a></li>
            </ul>
            </div> 
            <div class="footer-col">
            <h4>Human Resource</h4>
            <ul>
                <li><a href="https://www.bppimt.ac.in/Board_of_Governors.aspx">Board of Governors</a></li>
                <li><a href="https://www.bppimt.ac.in/Administration.aspx">Administration</a></li>
                <li><a href="https://www.bppimt.ac.in/Faculty_Members.aspx">Faculty Members</a></li>
                <li><a href="https://www.bppimt.ac.in/Technical_Staff.aspx">Technical Staff</a></li>
            </ul>
            </div> 
            <div class="footer-col">
            <h4>Forum & Cell</h4>
            <ul>
                <li><a href="https://www.bppimt.ac.in/IQA_Cell.aspx">Internal Quality Assurance Cell</a></li>
                <li><a href="https://www.bppimt.ac.in/ICC.aspx">Internal Complaint Committee</a></li>
                <li><a href="https://www.bppimt.ac.in/Important_Cells.aspx">Important Cells</a></li>
                <li><a href="https://www.bppimt.ac.in/Forum.aspx">Student Forums</a></li>
            </ul>
            </div>

        </div>
    </div>




</footer>

</html>

